@import "tailwindcss";
@import "./fonts.css";

@source "../*.html";
@source "../js/**/*.js";

@plugin "daisyui" {
  themes: false;
  include:
    properties,
    rootcolor,
    rootscrollgutter,
    rootscrolllock,
    scrollbar,
    svg,
    alert,
    aura,
    badge,
    button,
    card,
    dropdown,
    footer,
    hero,
    link,
    list,
    menu,
    navbar,
    stat,
    steps,
    table,
    radius;
}

@plugin "daisyui/theme" {
  name: "icaif";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #e2e8f0;
  --color-base-content: #1e293b;
  --color-primary: #0369a1;
  --color-primary-content: #ffffff;
  --color-secondary: #075985;
  --color-secondary-content: #ffffff;
  --color-accent: #d15b22;
  --color-accent-content: #ffffff;
  --color-neutral: #0f172a;
  --color-neutral-content: #f8fafc;
  --color-info: #0369a1;
  --color-info-content: #ffffff;
  --color-success: #15803d;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #451a03;
  --color-error: #dc2626;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}
